.roomItem {
    border:4px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.roomItem > div{
    display: flex;
    justify-content: space-around;
}

