.wrapper {
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    align-items: center;

}
.header {
display: flex;
    margin-left:auto
}
.header gameName {
    margin-left:auto
}
.header version {
    margin-right:auto
}
